.comment{
    margin: 60px 60px 160px 0px;

}
.btn-comment, .form-comment{
    min-height: calc(1.5em + 0.75rem + 2px);
}
.commentSection{
    margin: 60px;
    padding-top: 60px;
}
.input-text{
    margin-left: auto;
}