body {
  background-size: fill;
  background: #d1afe4;
  background: -webkit-linear-gradient(to right, #eecad9, #654ea3);
  background: linear-gradient(to right, #eecad9, #654ea3);
}
.hover-effect {
  text-decoration: "none";
}

.hover-effect:hover {
  cursor: pointer;
  border: 1px solid rgba(241, 237, 237, 0.418);
}

/*general styles*/

/* .gradient {} */

/* glassmorphism options */

.unicornGlass {
  background: rgba(198, 5, 5, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glass2 .glassForm {
  background-color: rgba(255, 255, 255, 0.219) !important;
  border-bottom: rgb(65, 63, 63) solid 1px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.35);
}
.glassForm::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 73, 132, 0.616);
}
.glassImg {
  background-color: rgba(255, 255, 255, 0.219) !important;
  box-shadow: 0 5px 7px 0 rgba(255, 255, 255, 0.35);
  backdrop-filter: 10px;
}
.glassTitle {
  background-color: rgba(170, 167, 167, 0.459) !important;
  border-bottom: rgb(65, 63, 63) solid 1px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter: 50%;
}
/* .glass2::after{
  content: '';
  backdrop-filter: 10px;
} */

.glassnav {
  background-color: rgba(0, 0, 0, 0.445) !important;
  border-bottom: rgb(65, 63, 63) solid 1px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.35);
}
/* end - glassmorphism options */
/*navbar*/
.navbar-brand {
  letter-spacing: 1rem;
  text-decoration: none;
  color: pink !important;
  text-shadow: 0 2px 3px #340649;
}
.nav-item,
.footer div {
  color: rgb(169, 170, 168) !important;
  font-size: large;
}
.navbar,
.footer {
  background: url(https://cdn.vectorstock.com/i/1000x1000/59/33/gradient-colors-background-vector-22375933.webp);
  background-size: cover;
}

.nav-link:hover,
.btn:hover {
  box-shadow: 0 0px 15px 0 rgba(224, 219, 219, 0.829);
}

Link {
  text-decoration: none;
  color: red;
}
.sidebar {
  height: 100vh;
}
/* footer */

/*section 1*/
/* img{
  width: 10em;
  height: 10em;
  background-color: rgb(143, 165, 165);
} */
.carousel img {
  height: 30em;
  object-fit: cover;
}
.jumbotron img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}
.btn {
  font-size: large;
}
.titulo-jumbotron {
  top: 100px;
  left: 50px;
}
